.dark {
    box-sizing: border-box;
    background: black;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.light {
    box-sizing: border-box;
    background: #234771;
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.buttonLight {
    width: 20%;
    height: 40px;
    background: #234771;
    font-size: 20px;
    color: #8d8dc1;
    border: none;
    border-radius: 20px;
}

.buttonLight:hover {
    background-color: #10679b;
    color: #000000;
}

.buttonDark {
    width: 20%;
    height: 40px;
    background: #000000;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.buttonDark:hover {
    background-color: #464444;
    color: #f8f8f8;
}

.buttonThemeLight {
    width: 3%;
    height: 40px;
    background: #234771;
    color: #8d8dc1;
    border: none;
    border-radius: 20px;
}

.buttonThemeLight:hover {
    background-color: #10679b;
    color: #000000;
}

.buttonThemeDark {
    width: 3%;
    height: 40px;
    background: #000000;
    color: white;
    border-radius: 20px;
}

.buttonThemeDark:hover {
    background-color: #464444;
    color: #f8f8f8;
}

.box {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 400px 0 0;
}